<div class="card">
    <img src="https://via.placeholder.com/375x300?text=Gallery+1" alt="Gallery 1" />
    <div class="gallery-info">
        <h2 class="gallery-title"> <%= card[:title] %> </h2>
        <p class="gallery-description"> <%= card[:description] %> </p>
    </div>
</div>