<div class="container">
    <main class="d-flex flex-wrap mt-4 justify-content-between">
        
        <% @cards.each do |card| %>
            <%= render 'card', card: card %>
        <% end %>
        
    </main>
</div>

