<div class="container">
    <main class="d-flex flex-wrap mt-4 justify-content-between">
        <div class="card">
            <img src="https://via.placeholder.com/375x300?text=Gallery+1" alt="Gallery 1" />
            <div class="gallery-info">
                <h2 class="gallery-title">Gallery 1</h2>
                <p class="gallery-description">By:</p>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/375x300?text=Gallery+2" alt="Gallery 2" />
            <div class="gallery-info">
                <h2 class="gallery-title">Gallery 2</h2>
                <p class="gallery-description">By:</p>
            </div>
        </div>
        <div class="card">
            <img src="https://via.placeholder.com/375x300?text=Gallery+3" alt="Gallery 3" />
            <div class="gallery-info">
            <h2 class="gallery-title">Gallery 3</h2>
            <p class="gallery-description">By:</p>
            </div>
        </div>
        
    </main>
</div>

